name: "[MC][Tool]ecs-status-checker-weekend"

on:
  workflow_dispatch:
    inputs:
      environments:
        type: string
        required: false
        description: "カンマ区切りで環境指定 (空の場合はVariablesを使用)"
        default: ""
  schedule:
    - cron: '00 23 * * 5,6'  # 土日 08:00 JST

jobs:
  call-checker:
    uses: ./.github/workflows/ecs-status-checker-callee.yml
    with:
      targets: ${{ inputs.environments != '' && inputs.environments || vars.ECS_STATUS_CHECKER_WEEKEND_ENVS }}
      trigger_source: 'weekend'
    secrets: inherit
